<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta content="北京爱情海玫瑰文化博览园" name="keywords">
    <meta content="北京爱情海玫瑰文化博览园 爱情海玫瑰公园 恋爱公园圣地 婚纱摄影基地 北京一日旅游蜜月休闲度假  2016年世界月季洲际大会主园区 婚礼婚庆婚宴婚博场地首选殿堂 月季公园科普基地 古森林博物馆园区 庆典聚会活动场地 婚纱照取景 北京知名景区胜景周边旅游 南苑机场景点 大兴婚庆旅游 十大情侣酒店 情侣主题酒店钟点房" name="description">
    <title>专业知识库</title>
    <!--base-->
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/index.css">
    <script type="text/javascript" src="js/jquery-1.9.1.min.js"></script>
    <link rel="stylesheet" href="css/Validform.css">
    <script type="text/javascript" src="js/Validform.min.js"></script>
    <!--base end-->
    <style>
        body{
            background: url("images/bj2.png") no-repeat;
        }
        .xgright{
            width: 1000px;
        }
        .xgrighth3{
            padding-top: 12px;
            padding-bottom: 12px;
        }
        .zhwxcont p{
            font-size: 14px;
            color: #444444;
            line-height: 28px;
        }
    </style>

</head>
<body>
<!--warrper-->
<div class="warrper">
    <!--header-->
    <div class="header">
        <div class="w1000 clearFloat">
            <div class="xglogo floatLeft">
                <a href=""><img src="images/xglogo.png" alt=""/></a>
            </div>
            <div class="nav floatRight">
                <ul class="clearFloat">
                    <li>
                        <a href="" class="xgactive">系统首页</a>
                    </li>
                    <li>
                        <a href="">方案管理</a>
                    </li>
                    <li>
                        <a href="">高考月历</a>
                    </li>
                    <li>
                        <a href="">帮助中心</a>
                    </li>
                    <li>
                        <a href="">个人中心</a>
                    </li>
                    <li>
                        <a href="">修改分数</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!--header end-->
    <!--content-->
    <div class="content">
        <div class="w1000">
            <h3 class="xgh3">当前位置：<a href="">首页</a>&nbsp;&nbsp;>&nbsp;<a href="">专业知识库</a></h3>
            <div class="clearFloat">
                <div class="xgright floatRight">
                    <h3 class="xgrighth3">专业知识库</h3>
                    <div class="glcont">
                        <div class="gkxqdiv">
                            <h3 class="gkxqh3">
                                中国语言文学类
                            </h3>
                            <div class="zhwxcont mt30 mb30">
                               <p>
                                    &nbsp; &nbsp; &nbsp; &nbsp; 中国语言文学类属于一级学科中的文学，包括汉语言文学、汉语言、对外汉语、中国少数民族语言文学（可注明藏、蒙、维、朝、哈等语言文学）和古典文献。<br>
                                    专业举例：对外汉语<br>
                                    培养目标：本专业培养具有较扎实的汉语和英语基础，对中国文学、中国文化及中外文化交往较全面了解的专门人才。<br>
                                    主要课程：基础英语、英语写作、英汉翻译、现代汉语、古代汉语、中国文学、外国文学、中国文化通论、国外汉学研究、语言学概论、对外汉语教学概论等。<br>
                                    主干学科：中国语言文学、外国语言文学<br>
                                    就业情况：该专业的毕业生主要在企业、教学单位、机关事业单位就业。该专业的毕业生中考取研究生的人数较多。
                                </p>

                            </div>


                        </div>
                        <br> <br>
                    </div>
                    <br> <br> <br> <br>
                </div>
            </div>
        </div>
    </div>
    <!--content end-->
</div>
<!--warrper end-->
</body>
</html>