<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta content="北京爱情海玫瑰文化博览园" name="keywords">
    <meta content="北京爱情海玫瑰文化博览园 爱情海玫瑰公园 恋爱公园圣地 婚纱摄影基地 北京一日旅游蜜月休闲度假  2016年世界月季洲际大会主园区 婚礼婚庆婚宴婚博场地首选殿堂 月季公园科普基地 古森林博物馆园区 庆典聚会活动场地 婚纱照取景 北京知名景区胜景周边旅游 南苑机场景点 大兴婚庆旅游 十大情侣酒店 情侣主题酒店钟点房" name="description">
    <title>专业知识库</title>
    <!--base-->
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/index.css">
    <script type="text/javascript" src="js/jquery-1.9.1.min.js"></script>
    <link rel="stylesheet" href="css/Validform.css">
    <script type="text/javascript" src="js/Validform.min.js"></script>
    <!--base end-->
    <style>
        body{
            background: url("images/bj2.png") no-repeat;
        }
        .xgright{
            width: 1000px;
        }
        .xgrighth3{
            padding-top: 12px;
            padding-bottom: 12px;
        }
    </style>

</head>
<body>
<!--warrper-->
<div class="warrper">
    <!--header-->
    <div class="header">
        <div class="w1000 clearFloat">
            <div class="xglogo floatLeft">
                <a href=""><img src="images/xglogo.png" alt=""/></a>
            </div>
            <div class="nav floatRight">
                <ul class="clearFloat">
                    <li>
                        <a href="" class="xgactive">系统首页</a>
                    </li>
                    <li>
                        <a href="">方案管理</a>
                    </li>
                    <li>
                        <a href="">高考月历</a>
                    </li>
                    <li>
                        <a href="">帮助中心</a>
                    </li>
                    <li>
                        <a href="">个人中心</a>
                    </li>
                    <li>
                        <a href="">修改分数</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!--header end-->
    <!--content-->
    <div class="content">
        <div class="w1000">
            <h3 class="xgh3">当前位置：<a href="">首页</a>&nbsp;&nbsp;>&nbsp;<a href="">专业知识库</a></h3>
            <div class="clearFloat">
                <div class="xgright floatRight">
                    <h3 class="xgrighth3">专业知识库</h3>
                    <div class="glcont">
                        <div class="gkxqdiv">
                            <h3 class="gkxqh3">
                                北京大学详情
                            </h3>
                            <div class="zhuanyetable mt50 mb30">
                                <table class="zytablewidth">
                                    <tr>
                                        <td class="zytabfir">院校地址：</td>
                                        <td>北京市海淀区颐和园路5号</td>
                                    </tr>
                                    <tr>
                                        <td class="zytabfir">招办电话：</td>
                                        <td>010：8888888</td>
                                    </tr>
                                    <tr>
                                        <td class="zytabfir">其他建设情况：</td>
                                        <td>拉萨的咖啡机拉斯快递劫匪</td>
                                    </tr>
                                    <tr>
                                        <td class="zytabfir">高校官方网站网址：</td>
                                        <td>www.pku.edu.cn</td>
                                    </tr>

                                </table>
                            </div>

                        </div>
                        <br> <br>
                    </div>
                    <br> <br> <br> <br>
                </div>
            </div>
        </div>
    </div>
    <!--content end-->
</div>
<!--warrper end-->
</body>
</html>