<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta content="北京爱情海玫瑰文化博览园" name="keywords">
    <meta content="北京爱情海玫瑰文化博览园 爱情海玫瑰公园 恋爱公园圣地 婚纱摄影基地 北京一日旅游蜜月休闲度假  2016年世界月季洲际大会主园区 婚礼婚庆婚宴婚博场地首选殿堂 月季公园科普基地 古森林博物馆园区 庆典聚会活动场地 婚纱照取景 北京知名景区胜景周边旅游 南苑机场景点 大兴婚庆旅游 十大情侣酒店 情侣主题酒店钟点房" name="description">
    <title>修改密码</title>
    <!--base-->
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/index.css">
    <script type="text/javascript" src="js/jquery-1.9.1.min.js"></script>
    <link rel="stylesheet" href="css/Validform.css">
    <script type="text/javascript" src="js/Validform.min.js"></script>
    <!--base end-->
    <style>
        body{
            background: url("images/bj2.png") no-repeat;
        }
        .registerform li{padding-bottom:10px;}
        .registerform .label{display:block; width:100%;margin: 0;font-size: 18px;color: #444444;padding: 10px 0;}
        .registerform .inputxt{
            border: 1px solid #ccc;
            width:100%;
        }
        .action{
            margin-top: 40px;
        }
        .Validform_checktip{
            margin-left: 0;
            padding-left: 0;
        }
    </style>

</head>
<body>
<!--warrper-->
<div class="warrper">
    <div class="w1200">
        <div class="twodl">
            <h3 class="text-center"><img src="images/dltitle.png" alt=""/></h3>
            <div class="twodlcont">
                <div class="twodlwidth">
                    <h3 class="twodlcontitle">修改密码  &nbsp;<span>MODIFY PASSWORD</span></h3>
                </div>
                <div class="twoform">
                    <form class="registerform">
                        <ul>
                            <li>
                                <label class="label">用户名：</label>
                                <input type="text" value="" name="name" class="inputxt" />
                            </li>
                            <li>
                                <label class="label">邮箱：</label>
                                <input type="e" value="" name="emai" class="inputxt" />
                            </li>
                        </ul>
                        <div class="action">
                            <div class="clearFloat">
                                <div class="yzmsub floatLeft">
                                    <input type="submit" value="找回密码" class="yzmsubinput"/>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

                <script type="text/javascript">
                    $(function(){
                        //$(".registerform").Validform();  //就这一行代码！;

                        var demo=$(".registerform").Validform({
                            tiptype:3,
                            label:".label",
                            showAllError:true,
                            datatype:{
                                "zh1-6":/^[\u4E00-\u9FA5\uf900-\ufa2d]{1,6}$/

                            },
                            ajaxPost:true
                        });

                        //通过$.Tipmsg扩展默认提示信息;
                        //$.Tipmsg.w["zh1-6"]="请输入1到6个中文字符！";
                        demo.tipmsg.w["zh1-6"]="请输入1到6个中文字符！";

                        demo.addRule([{
                            ele:".inputxt:eq(0)",
                            datatype:"*"
                        },
                            {
                                ele:".inputxt:eq(1)",
                                datatype:"e"
                            }
                        ]);

                    })
                </script>
            </div>
        </div>
    </div>

</div>
<!--warrper end-->
</body>
</html>