<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta content="北京爱情海玫瑰文化博览园" name="keywords">
    <meta content="北京爱情海玫瑰文化博览园 爱情海玫瑰公园 恋爱公园圣地 婚纱摄影基地 北京一日旅游蜜月休闲度假  2016年世界月季洲际大会主园区 婚礼婚庆婚宴婚博场地首选殿堂 月季公园科普基地 古森林博物馆园区 庆典聚会活动场地 婚纱照取景 北京知名景区胜景周边旅游 南苑机场景点 大兴婚庆旅游 十大情侣酒店 情侣主题酒店钟点房" name="description">
    <title>方案管理</title>
    <!--base-->
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/index.css">
    <script type="text/javascript" src="js/jquery-1.9.1.min.js"></script>
    <link rel="stylesheet" href="css/Validform.css">
    <script type="text/javascript" src="js/Validform.min.js"></script>
    <!--base end-->
    <style>
        body{
            background: url("images/bj2.png") no-repeat;
        }

    </style>

</head>
<body>
<!--warrper-->
<div class="warrper">
    <!--header-->
    <div class="header">
        <div class="w1000 clearFloat">
            <div class="xglogo floatLeft">
                <a href=""><img src="images/xglogo.png" alt=""/></a>
            </div>
            <div class="nav floatRight">
                <ul class="clearFloat">
                    <li>
                        <a href="" class="xgactive">系统首页</a>
                    </li>
                    <li>
                        <a href="">方案管理</a>
                    </li>
                    <li>
                        <a href="">高考月历</a>
                    </li>
                    <li>
                        <a href="">帮助中心</a>
                    </li>
                    <li>
                        <a href="">个人中心</a>
                    </li>
                    <li>
                        <a href="">修改分数</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!--header end-->
    <!--content-->
    <div class="content">
        <div class="w1000">
            <h3 class="xgh3">当前位置：<a href="">首页</a>&nbsp;>&nbsp;<a href="">个人中心</a>&nbsp;>&nbsp;<a href="">修改密码</a></h3>
            <div class="clearFloat">
                <div class="xgleft floatLeft">
                    <h3 class="xglefth3">方案管理</h3>
                    <div class="xgleftdiv">
                        <ul>
                            <li class="border-d-b-dddddd">
                                <a href="">方案管理</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="xgright floatRight">
                    <h3 class="xgrighth3">方案管理</h3>
                    <div class="glcont">
                        <div class="glcontdiv">
                            <a class="glcontdivh3">新建方案+</a>
                            <div class="glcontdivtable">
                                <form action="">
                                    <table class="gltable">
                                        <tr>
                                            <th width="25%">方案名称</th>
                                            <th>计划年份</th>
                                            <th width="25%">方案备注</th>
                                            <th >查看注释</th>
                                            <th >修改注释</th>
                                            <th>删除方案</th>
                                            <th >点击报考</th>
                                        </tr>
                                        <tr>
                                            <td><a href="">2016年8月31日方案</a> </td>
                                            <td>2016</td>
                                            <td>高考GPS汇集历年高...</td>
                                            <td><a href="">查看</a></td>
                                            <td><a href="">修改</a></td>
                                            <td><a href="">删除</a></td>
                                            <td><a href="">报考</a></td>
                                        </tr>
                                        <tr>
                                            <td><a href="">2016年8月31日方案</a> </td>
                                            <td>2016</td>
                                            <td>高考GPS汇集历年高...</td>
                                            <td><a href="">查看</a></td>
                                            <td><a href="">修改</a></td>
                                            <td><a href="">删除</a></td>
                                            <td><a href="">报考</a></td>
                                        </tr>
                                        <tr>
                                            <td><a href="">2016年8月31日方案</a> </td>
                                            <td>2016</td>
                                            <td>高考GPS汇集历年高...</td>
                                            <td><a href="">查看</a></td>
                                            <td><a href="">修改</a></td>
                                            <td><a href="">删除</a></td>
                                            <td><a href="">报考</a></td>
                                        </tr>

                                    </table>
                                </form>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!--content end-->
</div>
<!--warrper end-->
</body>
</html>