<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta content="北京爱情海玫瑰文化博览园" name="keywords">
    <meta content="北京爱情海玫瑰文化博览园 爱情海玫瑰公园 恋爱公园圣地 婚纱摄影基地 北京一日旅游蜜月休闲度假  2016年世界月季洲际大会主园区 婚礼婚庆婚宴婚博场地首选殿堂 月季公园科普基地 古森林博物馆园区 庆典聚会活动场地 婚纱照取景 北京知名景区胜景周边旅游 南苑机场景点 大兴婚庆旅游 十大情侣酒店 情侣主题酒店钟点房" name="description">
    <title>生成排名</title>
    <!--base-->
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/index.css">
    <script type="text/javascript" src="js/jquery-1.9.1.min.js"></script>
    <link rel="stylesheet" href="css/Validform.css">
    <script type="text/javascript" src="js/Validform.min.js"></script>
    <!--base end-->
    <style>
        body{
            background: url("images/bj2.png") no-repeat;
        }
        .xgright{
            width: 1000px;
        }
        .xgrighth3{
            padding-top: 12px;
            padding-bottom: 12px;
        }
    </style>

</head>
<body>
<!--warrper-->
<div class="warrper">
    <!--header-->
    <div class="header">
        <div class="w1000 clearFloat">
            <div class="xglogo floatLeft">
                <a href=""><img src="images/xglogo.png" alt=""/></a>
            </div>
            <div class="nav floatRight">
                <ul class="clearFloat">
                    <li>
                        <a href="" class="xgactive">系统首页</a>
                    </li>
                    <li>
                        <a href="">方案管理</a>
                    </li>
                    <li>
                        <a href="">高考月历</a>
                    </li>
                    <li>
                        <a href="">帮助中心</a>
                    </li>
                    <li>
                        <a href="">个人中心</a>
                    </li>
                    <li>
                        <a href="">修改分数</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!--header end-->
    <!--content-->
    <div class="content">
        <div class="w1000">
            <h3 class="xgh3">当前位置：<a href="">首页</a>&nbsp;&nbsp;>&nbsp;<a href="">生成排名</a></h3>
            <div class="clearFloat">
                <div class="xgright floatRight">
                    <h3 class="xgrighth3">生成排名</h3>
                    <div class="glcont">
                        <div class="sctable">
                            <form action="">
                                <table class="sctablediv">
                                    <tr>
                                        <th width="20%">录取批次</th>
                                        <th width="20%">选择志愿</th>
                                        <th width="10%">院校代码</th>
                                        <th width="10%">专业代码</th>
                                        <th width="40%">院校专业名称</th>
                                    </tr>
                                    <tr >
                                        <td rowspan="8">本科提前录取A段</td>
                                        <td rowspan="7">
                                            <a href="">第一志愿</a><br>
                                            <a href="">修改</a><br>
                                            <a href="">删除</a><br>
                                            <a href="">下移</a><br>
                                        </td>
                                        <td colspan="3">
                                            院校：1021 北京大学&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 是否服从院校内专业调剂： <span><input type="radio" name="是"/> 是</span> <span><input type="radio" name="是"/> 否</span>

                                            <!--<div class="clearFloat">-->
                                                <!--<div class="scyxmcb floatLeft">院校：1021 北京大学</div>-->
                                                <!--<div class="scytj  floatRight clearFloat">-->
                                                    <!--<div class="scyleft">-->
                                                        <!--是否服从院校内专业调剂：-->
                                                    <!--</div>-->
                                                    <!--<div class="scyright">-->
                                                        <!--<span><input type="radio" name="是"/> 是</span>-->
                                                        <!--<span><input type="radio" name="是"/> 否</span>-->
                                                    <!--</div>-->

                                                <!--</div>-->

                                            <!--</div>-->

                                        </td>
                                    </tr>
                                    <tr>

                                        <td>
                                            专业1
                                        </td>
                                        <td>
                                            09
                                        </td>
                                        <td>
                                            侦查学(公安情报)(男)
                                        </td>
                                    </tr>
                                    <tr>

                                        <td>
                                            专业2
                                        </td>
                                        <td>
                                            08
                                        </td>
                                        <td>
                                            侦查学(铁路反恐)(男)
                                        </td>
                                    </tr>
                                    <tr>

                                        <td>
                                            专业3
                                        </td>
                                        <td>
                                            12
                                        </td>
                                        <td>
                                            刑事科学技术(公安视听技术)(男)
                                        </td>
                                    </tr>
                                    <tr>

                                        <td>
                                            专业4
                                        </td>
                                        <td>
                                            10
                                        </td>
                                        <td>
                                            治安学(男)
                                        </td>
                                    </tr>
                                    <tr>

                                        <td>
                                            专业5
                                        </td>
                                        <td>
                                            07
                                        </td>
                                        <td>
                                            侦查学(女)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="3">
                                            <a href="" class="qbczy">请补充专业</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="">第一志愿</a>
                                        </td>
                                        <td colspan="3">
                                            如果你考虑报考艺术院校（专业）、体育院校（专业）、军事院校、武警部队院校、招收国防生的院校（专业）、公安类等院校（专业），可以考虑本批次
                                        </td>

                                    </tr>

                                    <tr>
                                        <td rowspan="2">本科提前录取B段</td>
                                        <td><a href="">第一志愿</a></td>
                                        <td colspan="3">说明说明说明说明说明说明说明说明说明说明说明说明说明说明说明说明说明说明说明说明说明说明说明说明</td>
                                    </tr>
                                    <tr>
                                        <td><a href="">第二志愿</a></td>
                                        <td colspan="3">说明说明说明说明说明说明说明说明说明说明说明说明说明说明说明说明说明说明说明说明说明说明说明说明</td>
                                    </tr>

                                    <tr>
                                        <td rowspan="2">本科提前录取C段</td>
                                        <td><a href="">第一志愿</a></td>
                                        <td colspan="3">说明说明说明说明说明说明说明说明说明说明说明说明说明说明说明说明说明说明说明说明说明说明说明说明</td>
                                    </tr>
                                    <tr>
                                        <td><a href="">第二志愿</a></td>
                                        <td colspan="3">说明说明说明说明说明说明说明说明说明说明说明说明说明说明说明说明说明说明说明说明说明说明说明说明</td>
                                    </tr>

                                    <tr>
                                        <td>特殊类型招生志愿</td>
                                        <td><a href="">第一志愿</a></td>
                                        <td colspan="3">说明说明说明说明说明说明说明说明说明说明说明说明说明说明说明说明说明说明说明说明说明说明说明说明</td>
                                    </tr>

                                    <tr>
                                        <td rowspan="8">本科一批</td>
                                        <td><a href="">平行第一志愿A</a></td>
                                        <td colspan="3">说明</td>

                                    </tr>
                                    <tr>
                                        <td><a href="">平行第一志愿B</a></td>
                                        <td colspan="3">说明</td>
                                    </tr>
                                    <tr>
                                        <td><a href="">平行第一志愿C</a></td>
                                        <td colspan="3">说明</td>
                                    </tr>
                                    <tr>
                                        <td><a href="">平行第一志愿D</a></td>
                                        <td colspan="3">说明</td>
                                    </tr>
                                    <tr>
                                        <td><a href="">平行第一志愿E</a></td>
                                        <td colspan="3">说明</td>
                                    </tr>
                                    <tr>
                                        <td><a href="">平行第一志愿F</a></td>
                                        <td colspan="3">说明</td>
                                    </tr>
                                    <tr>
                                        <td><a href="">平行第一志愿A</a></td>
                                        <td colspan="3">说明</td>
                                    </tr>
                                    <tr>
                                        <td><a href="">平行第一志愿B</a></td>
                                        <td colspan="3">说明</td>
                                    </tr>

                                    <tr>
                                        <td rowspan="8">本科二批</td>
                                        <td><a href="">平行第一志愿A</a></td>
                                        <td colspan="3">说明</td>

                                    </tr>
                                    <tr>
                                        <td><a href="">平行第一志愿B</a></td>
                                        <td colspan="3">说明</td>
                                    </tr>
                                    <tr>
                                        <td><a href="">平行第一志愿C</a></td>
                                        <td colspan="3">说明</td>
                                    </tr>
                                    <tr>
                                        <td><a href="">平行第一志愿D</a></td>
                                        <td colspan="3">说明</td>
                                    </tr>
                                    <tr>
                                        <td><a href="">平行第一志愿E</a></td>
                                        <td colspan="3">说明</td>
                                    </tr>
                                    <tr>
                                        <td><a href="">平行第一志愿F</a></td>
                                        <td colspan="3">说明</td>
                                    </tr>
                                    <tr>
                                        <td><a href="">平行第一志愿A</a></td>
                                        <td colspan="3">说明</td>
                                    </tr>
                                    <tr>
                                        <td><a href="">平行第一志愿B</a></td>
                                        <td colspan="3">说明</td>
                                    </tr>

                                    <tr>
                                        <td rowspan="8">本科三批</td>
                                        <td><a href="">平行第一志愿A</a></td>
                                        <td colspan="3">说明</td>

                                    </tr>
                                    <tr>
                                        <td><a href="">平行第一志愿B</a></td>
                                        <td colspan="3">说明</td>
                                    </tr>
                                    <tr>
                                        <td><a href="">平行第一志愿C</a></td>
                                        <td colspan="3">说明</td>
                                    </tr>
                                    <tr>
                                        <td><a href="">平行第一志愿D</a></td>
                                        <td colspan="3">说明</td>
                                    </tr>
                                    <tr>
                                        <td><a href="">平行第一志愿E</a></td>
                                        <td colspan="3">说明</td>
                                    </tr>
                                    <tr>
                                        <td><a href="">平行第一志愿F</a></td>
                                        <td colspan="3">说明</td>
                                    </tr>
                                    <tr>
                                        <td><a href="">平行第一志愿A</a></td>
                                        <td colspan="3">说明</td>
                                    </tr>
                                    <tr>
                                        <td><a href="">平行第一志愿B</a></td>
                                        <td colspan="3">说明</td>
                                    </tr>

                                </table>
                            </form>
                            <div class="xjsub  clearFloat mt30 mb45">
                                <a href="" class="xjsuba">导出</a>
                            </div>
                        </div>
                    </div>
                <br> <br> <br> <br>
                </div>
            </div>
        </div>
    </div>
    <!--content end-->
</div>
<!--warrper end-->
</body>
</html>