<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta content="北京爱情海玫瑰文化博览园" name="keywords">
    <meta content="北京爱情海玫瑰文化博览园 爱情海玫瑰公园 恋爱公园圣地 婚纱摄影基地 北京一日旅游蜜月休闲度假  2016年世界月季洲际大会主园区 婚礼婚庆婚宴婚博场地首选殿堂 月季公园科普基地 古森林博物馆园区 庆典聚会活动场地 婚纱照取景 北京知名景区胜景周边旅游 南苑机场景点 大兴婚庆旅游 十大情侣酒店 情侣主题酒店钟点房" name="description">
    <title>招商简章</title>
    <!--base-->
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/index.css">
    <script type="text/javascript" src="js/jquery-1.9.1.min.js"></script>
    <link rel="stylesheet" href="css/Validform.css">
    <script type="text/javascript" src="js/Validform.min.js"></script>
    <!--base end-->
    <style>
        body{
            background: url("images/bj2.png") no-repeat;
        }
        .xgright{
            width: 1000px;
        }
        .xgrighth3{
            padding-top: 12px;
            padding-bottom: 12px;
        }
    </style>

</head>
<body>
<!--warrper-->
<div class="warrper">
    <!--header-->
    <div class="header">
        <div class="w1000 clearFloat">
            <div class="xglogo floatLeft">
                <a href=""><img src="images/xglogo.png" alt=""/></a>
            </div>
            <div class="nav floatRight">
                <ul class="clearFloat">
                    <li>
                        <a href="" class="xgactive">系统首页</a>
                    </li>
                    <li>
                        <a href="">方案管理</a>
                    </li>
                    <li>
                        <a href="">高考月历</a>
                    </li>
                    <li>
                        <a href="">帮助中心</a>
                    </li>
                    <li>
                        <a href="">个人中心</a>
                    </li>
                    <li>
                        <a href="">修改分数</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!--header end-->
    <!--content-->
    <div class="content">
        <div class="w1000">
            <h3 class="xgh3">当前位置：<a href="">首页</a>&nbsp;&nbsp;>&nbsp;<a href="">学校列表</a>&nbsp;&nbsp;>&nbsp;学校详细信息&nbsp;&nbsp;>&nbsp;招商章程</h3>
            <div class="clearFloat">
                <div class="xgright floatRight">
                    <h3 class="xgrighth3">学校详细信息-招商章程</h3>
                    <div class="glcont">
                        <div class="yuanxiao">
                            <h3 class="mnh3">学校编号：1021 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; XXX大学 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 您的排名：XXX </h3>
                            <div class="mnjztop">
                                <a href="">返回志愿表 </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <a href="">返回学校列表</a>
                            </div>
                            <div class="xylist mt10">
                                <ul class="clearFloat">
                                    <li class="xyliactive">
                                      <a href="">招生计划</a>
                                    </li>
                                    <li>
                                      <a href="">历年数据</a>
                                    </li>
                                    <li>
                                      <a href="">招生章程</a>
                                    </li>
                                    <li>
                                      <a href="">模拟志愿</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="zscont mt30">
                                <h3 class="zsconh3">苏州科技大学2016年江苏招生章程</h3>
                                <p>
                                    一、院校基本信息<br>
                                    院校代码：1262（江苏省）、1636（中外合作办学）、10332（教育部）<br>
                                    院校名称：苏州科技大学<br>
                                    院校性质：江苏省属高校<br>
                                    办学性质：公办<br>
                                    校  址：石湖校区－苏州市高新区科锐路1号<br>
                                    江枫校区－苏州市高新区滨河路1701号<br>
                                    天平校区－苏州市高新区长江路55号<br><br>

                                    二、录取规则<br>
                                    1、外语语种要求<br>
                                    英语、日语、汉语国际教育专业限英语语种考生报考；因教学条件所限，其它专业考生入学后的公共外语教学只开设英语课程。<br>
                                    2、考生身体健康状况要求.<br>
                                    考生身体健康状况要求按照国家颁布的《普通高等学校招生体检工作指导意见》执行。<br>
                                    3、学业水平测试等级要求<br>
                                    选测BB、必测4C、技术合格；其中“中外合作办学”专业选测BC、必测4C、技术合格。<br>
                                    4、录取办法<br>
                                    先分数后等级。相关专业若录取征求平行志愿考生时，仍执行先分数后等级原则。<br>
                                    5、专业调剂<br>
                                    对于填报的所有专业志愿都已经择优录满的考生：若服从专业调剂，则根据先分数后等级原则将考生调剂到计划尚未完成的专业；若不服从专业调剂，则予以退档。<br>
                                    6、专业选科及其它要求<br>
                                    A. 专业选科要求，请参考我校公布的分专业招生计划表。<br>
                                    B. 建筑学、建筑学(建筑幕墙设计)、城乡规划和风景园林专业要求考生具有一定的绘画基础，入学后加试美术，如果美术加试不合格，转入其它专业。<br>
                                    C. 报考我校英语、汉语国际教育专业要求考生英语单科成绩不低于80分（120分满分计）。<br>
                                    7、艺术类专业的录取规则及办法<br>
                                    报考我校音乐类、美术类专业的江苏考生，须参加省专业统考且取得合格成绩。<br>
                                    音乐类以专业省统考成绩为录取分，美术类以专业省统考成绩加高考文化成绩的综合分为录取分，以录取分优先的原则择优录取和安排专业。<br>
                                    8、预留计划<br>
                                    根据教育部规定，学校预留招生计划38名，用于调节各地统考上线生源的不平衡。<br><br>

                                    三、收费标准<br>
                                    2016年我校录取新生按学分制收费，学分制学费收费标准按江苏省有关部门审批的标准执行。各专业的学费均为学年预收学费（详见我校公布的分专业招生计划表），学年结束时按学分结算学费。
                                    中外合作办学专业收费标准详见我校中外合作办学项目介绍。<br>
                                    住宿费：按物价部门核准的标准执行，预收1200元/年。<br><br>

                                    四、颁发证书<br>
                                    按照国家规定颁发苏州科技大学毕业证书；符合学位授予条件者，由校学位委员会颁发苏州科技大学学士学位证书。<br><br>

                                    五、入学复查<br>
                                    新生入学时，我校将根据教育部有关规定对新生进行资格审查和身体复查，发现有不符合录取条件的将视情况予以适当调整专业直至退回生源所在地。<br><br>

                                    六、联系方式<br>
                                    联系电话：0512-68096117       邮政编码：215009<br>
                                    通信地址：苏州市高新区科锐路1号<br>
                                    电子邮件：zsb@mail.usts.edu.cn   网址：www.usts.edu.cn<br><br>

                                    七、本章程适用于江苏省考生，由苏州科技大学招生工作领导小组负责解释。
                                </p>
                            </div>
                        </div>
                        <br> <br>
                    </div>
                    <br> <br> <br> <br>
                </div>
            </div>
        </div>
    </div>
    <!--content end-->
</div>
<!--warrper end-->
</body>
</html>