<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta content="北京爱情海玫瑰文化博览园" name="keywords">
    <meta content="北京爱情海玫瑰文化博览园 爱情海玫瑰公园 恋爱公园圣地 婚纱摄影基地 北京一日旅游蜜月休闲度假  2016年世界月季洲际大会主园区 婚礼婚庆婚宴婚博场地首选殿堂 月季公园科普基地 古森林博物馆园区 庆典聚会活动场地 婚纱照取景 北京知名景区胜景周边旅游 南苑机场景点 大兴婚庆旅游 十大情侣酒店 情侣主题酒店钟点房" name="description">
    <title>高考月历</title>
    <!--base-->
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/index.css">
    <script type="text/javascript" src="js/jquery-1.9.1.min.js"></script>
    <link rel="stylesheet" href="css/Validform.css">
    <script type="text/javascript" src="js/Validform.min.js"></script>
    <!--base end-->
    <style>
        body{
            background: url("images/bj2.png") no-repeat;
        }

    </style>

</head>
<body>
<!--warrper-->
<div class="warrper">
    <!--header-->
    <div class="header">
        <div class="w1000 clearFloat">
            <div class="xglogo floatLeft">
                <a href=""><img src="images/xglogo.png" alt=""/></a>
            </div>
            <div class="nav floatRight">
                <ul class="clearFloat">
                    <li>
                        <a href="" class="xgactive">系统首页</a>
                    </li>
                    <li>
                        <a href="">方案管理</a>
                    </li>
                    <li>
                        <a href="">高考月历</a>
                    </li>
                    <li>
                        <a href="">帮助中心</a>
                    </li>
                    <li>
                        <a href="">个人中心</a>
                    </li>
                    <li>
                        <a href="">修改分数</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!--header end-->
    <!--content-->
    <div class="content">
        <div class="w1000">
            <h3 class="xgh3">当前位置：<a href="">首页</a>&nbsp;>&nbsp;<a href="">高考月历</a></h3>
            <div class="clearFloat">
                <div class="xgleft floatLeft">
                    <h3 class="xglefth3">高考月历</h3>
                    <div class="xgleftdiv">
                        <ul>
                            <li class="border-d-b-dddddd">
                                <a href="" class="xgleactive">2016-09</a>
                            </li>
                            <li class="border-d-b-dddddd">
                                <a href="">2016-08</a>
                            </li>
                            <li class="border-d-b-dddddd">
                                <a href="">2016-07</a>
                            </li>
                            <li class="border-d-b-dddddd">
                                <a href="">2016-06</a>
                            </li>
                            <li class="border-d-b-dddddd">
                                <a href="">2016-05</a>
                            </li>
                            <li class="border-d-b-dddddd">
                                <a href="">2016-04</a>
                            </li>
                            <li class="border-d-b-dddddd">
                                <a href="">2016-03</a>
                            </li>
                            <li class="border-d-b-dddddd">
                                <a href="">2016-02</a>
                            </li>
                            <li class="border-d-b-dddddd">
                                <a href="">2016-01</a>
                            </li>
                            <li>
                                <a href="">2015</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="xgright floatRight">
                    <h3 class="xgrighth3">高考月历</h3>
                    <div class="glcont">
                        <div class="gkxqdiv">
                            <h3 class="gkxqh3">
                                黑龙江高考生录取通知书被省招办作废 家长说违法
                                <span class="gkxqtime">添加时间：2016-09-02 16:32</span>
                            </h3>
                            <div class="gkxdcont">
                                <p>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;央广网北京9月2日消息（记者 肖源）据中国之声《新闻和报纸摘要》报道，黑龙江一名高考考生，在收到鲁迅美术学院的录取通知书后，却被省招办告知，因为省统考成绩没过关，录取通知书作废。7月24号，黑龙江考生小杨收到了鲁迅美术学院寄来的纸质录取通知书，但两天后，就接到了省招办的电话，说录取通知书作废。<br><br>

                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;小杨的妈妈付女士：他说你的省统考成绩没合格，你不具备这个资格。学校不愿意打这个电话，我们好心提醒你。当时就是觉得这是个骗子，我们都已经拿到录取通知书了怎么还让作废呢？要是作废也是学校打来这个电话也不应该是招生办呐。鲁迅美术学院招生办负责人表示，这次录取是合规有效的。负责人：我们录取一个学生那是非常慎重的事儿，事情的经过、学校录取的程序，因为我们所有的材料都是很正规的，通过研究以后，报到我们省厅，报到他们省考试院，都有材料，都有公函。<br><br>

                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;在整个录取过程中，黑龙江省招生办有3次审核的过程，3次审核均没有出现小杨不合格的提示。因此，小杨的妈妈付女士认为，让孩子承担省招办行为的后果，这对考生不公平。昨天下午，记者尝试联系黑龙江省招办，但相关人员的电话无人接听。随后，记者又联系黑龙江省教育厅，按要求发去相关材料，但截至发稿前，没有得到任何答复。黑龙江省教育厅学生处负责人接受媒体采访时称，黑龙江省招生办公室在对小杨的整个录取程序中没有出现任何错误，全部符合规定。<br><br>

                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;在收到“录取作废”通知的第二天，小杨再次登录黑龙江招生考试信息港网站，发现自己已被“退档”，状态从之前的“已录取”变成了档案“自由可投”。之后，她的信息状态又被改为“黑龙江大学录取”。8月4号，小杨收到了黑龙江大学的通知书。一次高考，两份录取通知书，该怎么办？详细情况，请听稍后播出的新闻纵横节目。
                                </p>
                            </div>
                            <!--上一页-->
                            <div class="nwssele clearFloat mt5 mb15">
                                <a href="" class="floatLeft">上一篇：新闻资讯</a>
                                <a href="" class="floatRight">下一篇：新闻资讯</a>
                            </div>
                            <!--上一页 end-->
                        </div>
                        <br>
                    </div>

                </div>
            </div>

            <br><br><br><br><br>
        </div>
    </div>
    <!--content end-->
</div>
<!--warrper end-->
</body>
</html>