<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta content="北京爱情海玫瑰文化博览园" name="keywords">
    <meta content="北京爱情海玫瑰文化博览园 爱情海玫瑰公园 恋爱公园圣地 婚纱摄影基地 北京一日旅游蜜月休闲度假  2016年世界月季洲际大会主园区 婚礼婚庆婚宴婚博场地首选殿堂 月季公园科普基地 古森林博物馆园区 庆典聚会活动场地 婚纱照取景 北京知名景区胜景周边旅游 南苑机场景点 大兴婚庆旅游 十大情侣酒店 情侣主题酒店钟点房" name="description">
    <title>帮助中心</title>
    <!--base-->
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/index.css">
    <script type="text/javascript" src="js/jquery-1.9.1.min.js"></script>
    <link rel="stylesheet" href="css/Validform.css">
    <script type="text/javascript" src="js/Validform.min.js"></script>
    <!--base end-->
    <style>
        body{
            background: url("images/bj2.png") no-repeat;
        }

    </style>

</head>
<body>
<!--warrper-->
<div class="warrper">
    <!--header-->
    <div class="header">
        <div class="w1000 clearFloat">
            <div class="xglogo floatLeft">
                <a href=""><img src="images/xglogo.png" alt=""/></a>
            </div>
            <div class="nav floatRight">
                <ul class="clearFloat">
                    <li>
                        <a href="" class="xgactive">系统首页</a>
                    </li>
                    <li>
                        <a href="">方案管理</a>
                    </li>
                    <li>
                        <a href="">高考月历</a>
                    </li>
                    <li>
                        <a href="">帮助中心</a>
                    </li>
                    <li>
                        <a href="">个人中心</a>
                    </li>
                    <li>
                        <a href="">修改分数</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!--header end-->
    <!--content-->
    <div class="content">
        <div class="w1000">
            <h3 class="xgh3">当前位置：<a href="">首页</a>&nbsp;>&nbsp;<a href="">帮助中心</a></h3>
            <div class="clearFloat">
                <div class="xgleft floatLeft">
                    <h3 class="xglefth3">帮助中心</h3>
                    <div class="xgleftdiv">
                        <ul>
                            <li class="border-d-b-dddddd">
                                <a href="" class="xgleactive">志愿百科</a>
                            </li>
                            <li class="border-d-b-dddddd">
                                <a href="">其他分类</a>
                            </li>

                        </ul>
                    </div>
                </div>
                <div class="xgright floatRight">
                    <h3 class="xgrighth3">高考月历</h3>
                    <div class="glcont">
                        <div class="bzzxdiv">
                            <ul>
                                <li class="border-d-b-dddddd">
                                    <div class="clearFloat addzk">
                                        <div class="bzzh3img floatLeft">
                                            <img src="images/bza.png" alt=""/>
                                        </div>
                                        <div class="bzzh3p floatRight">
                                            今天上午10点，2016高考提前批开始通过远程网进行志愿填报，是选择提前批还是选择之后的普通院校 来填报志愿？
                                        </div>
                                    </div>
                                    <div class="clearFloat addzkcont">
                                        <div class="bzhh3img floatLeft">
                                            <img src="images/bzhd.png" alt=""/>
                                        </div>
                                        <div class="bzhdh3p floatRight">
                                            有些考生只是感觉报考提前批是一次机会，想尝试一下，实际上他并不是真的想去，等录取之后，会很后悔。所以报考志愿注意三点。1、报你想去的国防生，不想去的不要报。2、报你想去的提前批，不想去的不要报。3、有不服从的，都应该选择服从。
                                        </div>
                                    </div>
                                </li>
                                <li class="border-d-b-dddddd">
                                    <div class="clearFloat addzk">
                                        <div class="bzzh3img floatLeft">
                                            <img src="images/bza.png" alt=""/>
                                        </div>
                                        <div class="bzzh3p floatRight">
                                            今天上午10点，2016高考提前批开始通过远程网进行志愿填报，是选择提前批还是选择之后的普通院校 来填报志愿？
                                        </div>
                                    </div>
                                    <div class="clearFloat addzkcont">
                                        <div class="bzhh3img floatLeft">
                                            <img src="images/bzhd.png" alt=""/>
                                        </div>
                                        <div class="bzhdh3p floatRight">
                                            有些考生只是感觉报考提前批是一次机会，想尝试一下，实际上他并不是真的想去，等录取之后，会很后悔。所以报考志愿注意三点。1、报你想去的国防生，不想去的不要报。2、报你想去的提前批，不想去的不要报。3、有不服从的，都应该选择服从。
                                        </div>
                                    </div>
                                </li>
                                <li class="border-d-b-dddddd">
                                    <div class="clearFloat addzk">
                                        <div class="bzzh3img floatLeft">
                                            <img src="images/bza.png" alt=""/>
                                        </div>
                                        <div class="bzzh3p floatRight">
                                            今天上午10点，2016高考提前批开始通过远程网进行志愿填报，是选择提前批还是选择之后的普通院校 来填报志愿？
                                        </div>
                                    </div>
                                    <div class="clearFloat addzkcont">
                                        <div class="bzhh3img floatLeft">
                                            <img src="images/bzhd.png" alt=""/>
                                        </div>
                                        <div class="bzhdh3p floatRight">
                                            有些考生只是感觉报考提前批是一次机会，想尝试一下，实际上他并不是真的想去，等录取之后，会很后悔。所以报考志愿注意三点。1、报你想去的国防生，不想去的不要报。2、报你想去的提前批，不想去的不要报。3、有不服从的，都应该选择服从。
                                        </div>
                                    </div>
                                </li>
                                <li class="border-d-b-dddddd">
                                    <div class="clearFloat addzk">
                                        <div class="bzzh3img floatLeft">
                                            <img src="images/bza.png" alt=""/>
                                        </div>
                                        <div class="bzzh3p floatRight">
                                            今天上午10点，2016高考提前批开始通过远程网进行志愿填报，是选择提前批还是选择之后的普通院校 来填报志愿？
                                        </div>
                                    </div>
                                    <div class="clearFloat addzkcont">
                                        <div class="bzhh3img floatLeft">
                                            <img src="images/bzhd.png" alt=""/>
                                        </div>
                                        <div class="bzhdh3p floatRight">
                                            有些考生只是感觉报考提前批是一次机会，想尝试一下，实际上他并不是真的想去，等录取之后，会很后悔。所以报考志愿注意三点。1、报你想去的国防生，不想去的不要报。2、报你想去的提前批，不想去的不要报。3、有不服从的，都应该选择服从。
                                        </div>
                                    </div>
                                </li>
                                <li class="border-d-b-dddddd">
                                    <div class="clearFloat addzk">
                                        <div class="bzzh3img floatLeft">
                                            <img src="images/bza.png" alt=""/>
                                        </div>
                                        <div class="bzzh3p floatRight">
                                            今天上午10点，2016高考提前批开始通过远程网进行志愿填报，是选择提前批还是选择之后的普通院校 来填报志愿？
                                        </div>
                                    </div>
                                    <div class="clearFloat addzkcont">
                                        <div class="bzhh3img floatLeft">
                                            <img src="images/bzhd.png" alt=""/>
                                        </div>
                                        <div class="bzhdh3p floatRight">
                                            有些考生只是感觉报考提前批是一次机会，想尝试一下，实际上他并不是真的想去，等录取之后，会很后悔。所以报考志愿注意三点。1、报你想去的国防生，不想去的不要报。2、报你想去的提前批，不想去的不要报。3、有不服从的，都应该选择服从。
                                        </div>
                                    </div>
                                </li>
                                <li class="border-d-b-dddddd">
                                    <div class="clearFloat addzk">
                                        <div class="bzzh3img floatLeft">
                                            <img src="images/bza.png" alt=""/>
                                        </div>
                                        <div class="bzzh3p floatRight">
                                            今天上午10点，2016高考提前批开始通过远程网进行志愿填报，是选择提前批还是选择之后的普通院校 来填报志愿？
                                        </div>
                                    </div>
                                    <div class="clearFloat addzkcont">
                                        <div class="bzhh3img floatLeft">
                                            <img src="images/bzhd.png" alt=""/>
                                        </div>
                                        <div class="bzhdh3p floatRight">
                                            有些考生只是感觉报考提前批是一次机会，想尝试一下，实际上他并不是真的想去，等录取之后，会很后悔。所以报考志愿注意三点。1、报你想去的国防生，不想去的不要报。2、报你想去的提前批，不想去的不要报。3、有不服从的，都应该选择服从。
                                        </div>
                                    </div>
                                </li>
                                <li class="border-d-b-dddddd">
                                    <div class="clearFloat addzk">
                                        <div class="bzzh3img floatLeft">
                                            <img src="images/bza.png" alt=""/>
                                        </div>
                                        <div class="bzzh3p floatRight">
                                            今天上午10点，2016高考提前批开始通过远程网进行志愿填报，是选择提前批还是选择之后的普通院校 来填报志愿？
                                        </div>
                                    </div>
                                    <div class="clearFloat addzkcont">
                                        <div class="bzhh3img floatLeft">
                                            <img src="images/bzhd.png" alt=""/>
                                        </div>
                                        <div class="bzhdh3p floatRight">
                                            有些考生只是感觉报考提前批是一次机会，想尝试一下，实际上他并不是真的想去，等录取之后，会很后悔。所以报考志愿注意三点。1、报你想去的国防生，不想去的不要报。2、报你想去的提前批，不想去的不要报。3、有不服从的，都应该选择服从。
                                        </div>
                                    </div>
                                </li>
                                <li class="border-d-b-dddddd">
                                    <div class="clearFloat addzk">
                                        <div class="bzzh3img floatLeft">
                                            <img src="images/bza.png" alt=""/>
                                        </div>
                                        <div class="bzzh3p floatRight">
                                            今天上午10点，2016高考提前批开始通过远程网进行志愿填报，是选择提前批还是选择之后的普通院校 来填报志愿？
                                        </div>
                                    </div>
                                    <div class="clearFloat addzkcont">
                                        <div class="bzhh3img floatLeft">
                                            <img src="images/bzhd.png" alt=""/>
                                        </div>
                                        <div class="bzhdh3p floatRight">
                                            有些考生只是感觉报考提前批是一次机会，想尝试一下，实际上他并不是真的想去，等录取之后，会很后悔。所以报考志愿注意三点。1、报你想去的国防生，不想去的不要报。2、报你想去的提前批，不想去的不要报。3、有不服从的，都应该选择服从。
                                        </div>
                                    </div>
                                </li>
                                <li class="border-d-b-dddddd">
                                    <div class="clearFloat addzk">
                                        <div class="bzzh3img floatLeft">
                                            <img src="images/bza.png" alt=""/>
                                        </div>
                                        <div class="bzzh3p floatRight">
                                            今天上午10点，2016高考提前批开始通过远程网进行志愿填报，是选择提前批还是选择之后的普通院校 来填报志愿？
                                        </div>
                                    </div>
                                    <div class="clearFloat addzkcont">
                                        <div class="bzhh3img floatLeft">
                                            <img src="images/bzhd.png" alt=""/>
                                        </div>
                                        <div class="bzhdh3p floatRight">
                                            有些考生只是感觉报考提前批是一次机会，想尝试一下，实际上他并不是真的想去，等录取之后，会很后悔。所以报考志愿注意三点。1、报你想去的国防生，不想去的不要报。2、报你想去的提前批，不想去的不要报。3、有不服从的，都应该选择服从。
                                        </div>
                                    </div>
                                </li>
                                <li class="border-d-b-dddddd">
                                    <div class="clearFloat addzk">
                                        <div class="bzzh3img floatLeft">
                                            <img src="images/bza.png" alt=""/>
                                        </div>
                                        <div class="bzzh3p floatRight">
                                            今天上午10点，2016高考提前批开始通过远程网进行志愿填报，是选择提前批还是选择之后的普通院校 来填报志愿？
                                        </div>
                                    </div>
                                    <div class="clearFloat addzkcont">
                                        <div class="bzhh3img floatLeft">
                                            <img src="images/bzhd.png" alt=""/>
                                        </div>
                                        <div class="bzhdh3p floatRight">
                                            有些考生只是感觉报考提前批是一次机会，想尝试一下，实际上他并不是真的想去，等录取之后，会很后悔。所以报考志愿注意三点。1、报你想去的国防生，不想去的不要报。2、报你想去的提前批，不想去的不要报。3、有不服从的，都应该选择服从。
                                        </div>
                                    </div>
                                </li>
                                <li class="border-d-b-dddddd">
                                    <div class="clearFloat addzk">
                                        <div class="bzzh3img floatLeft">
                                            <img src="images/bza.png" alt=""/>
                                        </div>
                                        <div class="bzzh3p floatRight">
                                            今天上午10点，2016高考提前批开始通过远程网进行志愿填报，是选择提前批还是选择之后的普通院校 来填报志愿？
                                        </div>
                                    </div>
                                    <div class="clearFloat addzkcont">
                                        <div class="bzhh3img floatLeft">
                                            <img src="images/bzhd.png" alt=""/>
                                        </div>
                                        <div class="bzhdh3p floatRight">
                                            有些考生只是感觉报考提前批是一次机会，想尝试一下，实际上他并不是真的想去，等录取之后，会很后悔。所以报考志愿注意三点。1、报你想去的国防生，不想去的不要报。2、报你想去的提前批，不想去的不要报。3、有不服从的，都应该选择服从。
                                        </div>
                                    </div>
                                </li>
                                <li class="border-d-b-dddddd">
                                    <div class="clearFloat addzk">
                                        <div class="bzzh3img floatLeft">
                                            <img src="images/bza.png" alt=""/>
                                        </div>
                                        <div class="bzzh3p floatRight">
                                            今天上午10点，2016高考提前批开始通过远程网进行志愿填报，是选择提前批还是选择之后的普通院校 来填报志愿？
                                        </div>
                                    </div>
                                    <div class="clearFloat addzkcont">
                                        <div class="bzhh3img floatLeft">
                                            <img src="images/bzhd.png" alt=""/>
                                        </div>
                                        <div class="bzhdh3p floatRight">
                                            有些考生只是感觉报考提前批是一次机会，想尝试一下，实际上他并不是真的想去，等录取之后，会很后悔。所以报考志愿注意三点。1、报你想去的国防生，不想去的不要报。2、报你想去的提前批，不想去的不要报。3、有不服从的，都应该选择服从。
                                        </div>
                                    </div>
                                </li>
                                <li class="border-d-b-dddddd">
                                    <div class="clearFloat addzk">
                                        <div class="bzzh3img floatLeft">
                                            <img src="images/bza.png" alt=""/>
                                        </div>
                                        <div class="bzzh3p floatRight">
                                            今天上午10点，2016高考提前批开始通过远程网进行志愿填报，是选择提前批还是选择之后的普通院校 来填报志愿？
                                        </div>
                                    </div>
                                    <div class="clearFloat addzkcont">
                                        <div class="bzhh3img floatLeft">
                                            <img src="images/bzhd.png" alt=""/>
                                        </div>
                                        <div class="bzhdh3p floatRight">
                                            有些考生只是感觉报考提前批是一次机会，想尝试一下，实际上他并不是真的想去，等录取之后，会很后悔。所以报考志愿注意三点。1、报你想去的国防生，不想去的不要报。2、报你想去的提前批，不想去的不要报。3、有不服从的，都应该选择服从。
                                        </div>
                                    </div>
                                </li>
                                <li class="border-d-b-dddddd">
                                    <div class="clearFloat addzk">
                                        <div class="bzzh3img floatLeft">
                                            <img src="images/bza.png" alt=""/>
                                        </div>
                                        <div class="bzzh3p floatRight">
                                            今天上午10点，2016高考提前批开始通过远程网进行志愿填报，是选择提前批还是选择之后的普通院校 来填报志愿？
                                        </div>
                                    </div>
                                    <div class="clearFloat addzkcont">
                                        <div class="bzhh3img floatLeft">
                                            <img src="images/bzhd.png" alt=""/>
                                        </div>
                                        <div class="bzhdh3p floatRight">
                                            有些考生只是感觉报考提前批是一次机会，想尝试一下，实际上他并不是真的想去，等录取之后，会很后悔。所以报考志愿注意三点。1、报你想去的国防生，不想去的不要报。2、报你想去的提前批，不想去的不要报。3、有不服从的，都应该选择服从。
                                        </div>
                                    </div>
                                </li>
                                <li class="border-d-b-dddddd">
                                    <div class="clearFloat addzk">
                                        <div class="bzzh3img floatLeft">
                                            <img src="images/bza.png" alt=""/>
                                        </div>
                                        <div class="bzzh3p floatRight">
                                            今天上午10点，2016高考提前批开始通过远程网进行志愿填报，是选择提前批还是选择之后的普通院校 来填报志愿？
                                        </div>
                                    </div>
                                    <div class="clearFloat addzkcont">
                                        <div class="bzhh3img floatLeft">
                                            <img src="images/bzhd.png" alt=""/>
                                        </div>
                                        <div class="bzhdh3p floatRight">
                                            有些考生只是感觉报考提前批是一次机会，想尝试一下，实际上他并不是真的想去，等录取之后，会很后悔。所以报考志愿注意三点。1、报你想去的国防生，不想去的不要报。2、报你想去的提前批，不想去的不要报。3、有不服从的，都应该选择服从。
                                        </div>
                                    </div>
                                </li>
                                <li class="border-d-b-dddddd">
                                    <div class="clearFloat addzk">
                                        <div class="bzzh3img floatLeft">
                                            <img src="images/bza.png" alt=""/>
                                        </div>
                                        <div class="bzzh3p floatRight">
                                            今天上午10点，2016高考提前批开始通过远程网进行志愿填报，是选择提前批还是选择之后的普通院校 来填报志愿？
                                        </div>
                                    </div>
                                    <div class="clearFloat addzkcont">
                                        <div class="bzhh3img floatLeft">
                                            <img src="images/bzhd.png" alt=""/>
                                        </div>
                                        <div class="bzhdh3p floatRight">
                                            有些考生只是感觉报考提前批是一次机会，想尝试一下，实际上他并不是真的想去，等录取之后，会很后悔。所以报考志愿注意三点。1、报你想去的国防生，不想去的不要报。2、报你想去的提前批，不想去的不要报。3、有不服从的，都应该选择服从。
                                        </div>
                                    </div>
                                </li>
                                <li class="border-d-b-dddddd">
                                    <div class="clearFloat addzk">
                                        <div class="bzzh3img floatLeft">
                                            <img src="images/bza.png" alt=""/>
                                        </div>
                                        <div class="bzzh3p floatRight">
                                            今天上午10点，2016高考提前批开始通过远程网进行志愿填报，是选择提前批还是选择之后的普通院校 来填报志愿？
                                        </div>
                                    </div>
                                    <div class="clearFloat addzkcont">
                                        <div class="bzhh3img floatLeft">
                                            <img src="images/bzhd.png" alt=""/>
                                        </div>
                                        <div class="bzhdh3p floatRight">
                                            有些考生只是感觉报考提前批是一次机会，想尝试一下，实际上他并不是真的想去，等录取之后，会很后悔。所以报考志愿注意三点。1、报你想去的国防生，不想去的不要报。2、报你想去的提前批，不想去的不要报。3、有不服从的，都应该选择服从。
                                        </div>
                                    </div>
                                </li>
                                <li class="border-d-b-dddddd">
                                    <div class="clearFloat addzk">
                                        <div class="bzzh3img floatLeft">
                                            <img src="images/bza.png" alt=""/>
                                        </div>
                                        <div class="bzzh3p floatRight">
                                            今天上午10点，2016高考提前批开始通过远程网进行志愿填报，是选择提前批还是选择之后的普通院校 来填报志愿？
                                        </div>
                                    </div>
                                    <div class="clearFloat addzkcont">
                                        <div class="bzhh3img floatLeft">
                                            <img src="images/bzhd.png" alt=""/>
                                        </div>
                                        <div class="bzhdh3p floatRight">
                                            有些考生只是感觉报考提前批是一次机会，想尝试一下，实际上他并不是真的想去，等录取之后，会很后悔。所以报考志愿注意三点。1、报你想去的国防生，不想去的不要报。2、报你想去的提前批，不想去的不要报。3、有不服从的，都应该选择服从。
                                        </div>
                                    </div>
                                </li>
                                <li class="border-d-b-dddddd">
                                    <div class="clearFloat addzk">
                                        <div class="bzzh3img floatLeft">
                                            <img src="images/bza.png" alt=""/>
                                        </div>
                                        <div class="bzzh3p floatRight">
                                            今天上午10点，2016高考提前批开始通过远程网进行志愿填报，是选择提前批还是选择之后的普通院校 来填报志愿？
                                        </div>
                                    </div>
                                    <div class="clearFloat addzkcont">
                                        <div class="bzhh3img floatLeft">
                                            <img src="images/bzhd.png" alt=""/>
                                        </div>
                                        <div class="bzhdh3p floatRight">
                                            有些考生只是感觉报考提前批是一次机会，想尝试一下，实际上他并不是真的想去，等录取之后，会很后悔。所以报考志愿注意三点。1、报你想去的国防生，不想去的不要报。2、报你想去的提前批，不想去的不要报。3、有不服从的，都应该选择服从。
                                        </div>
                                    </div>
                                </li>
                                <li class="border-d-b-dddddd">
                                    <div class="clearFloat addzk">
                                        <div class="bzzh3img floatLeft">
                                            <img src="images/bza.png" alt=""/>
                                        </div>
                                        <div class="bzzh3p floatRight">
                                            今天上午10点，2016高考提前批开始通过远程网进行志愿填报，是选择提前批还是选择之后的普通院校 来填报志愿？
                                        </div>
                                    </div>
                                    <div class="clearFloat addzkcont">
                                        <div class="bzhh3img floatLeft">
                                            <img src="images/bzhd.png" alt=""/>
                                        </div>
                                        <div class="bzhdh3p floatRight">
                                            有些考生只是感觉报考提前批是一次机会，想尝试一下，实际上他并不是真的想去，等录取之后，会很后悔。所以报考志愿注意三点。1、报你想去的国防生，不想去的不要报。2、报你想去的提前批，不想去的不要报。3、有不服从的，都应该选择服从。
                                        </div>
                                    </div>
                                </li>
                                <li class="border-d-b-dddddd">
                                    <div class="clearFloat addzk">
                                        <div class="bzzh3img floatLeft">
                                            <img src="images/bza.png" alt=""/>
                                        </div>
                                        <div class="bzzh3p floatRight">
                                            今天上午10点，2016高考提前批开始通过远程网进行志愿填报，是选择提前批还是选择之后的普通院校 来填报志愿？
                                        </div>
                                    </div>
                                    <div class="clearFloat addzkcont">
                                        <div class="bzhh3img floatLeft">
                                            <img src="images/bzhd.png" alt=""/>
                                        </div>
                                        <div class="bzhdh3p floatRight">
                                            有些考生只是感觉报考提前批是一次机会，想尝试一下，实际上他并不是真的想去，等录取之后，会很后悔。所以报考志愿注意三点。1、报你想去的国防生，不想去的不要报。2、报你想去的提前批，不想去的不要报。3、有不服从的，都应该选择服从。
                                        </div>
                                    </div>
                                </li>
                                <li class="border-d-b-dddddd">
                                    <div class="clearFloat addzk">
                                        <div class="bzzh3img floatLeft">
                                            <img src="images/bza.png" alt=""/>
                                        </div>
                                        <div class="bzzh3p floatRight">
                                            今天上午10点，2016高考提前批开始通过远程网进行志愿填报，是选择提前批还是选择之后的普通院校 来填报志愿？
                                        </div>
                                    </div>
                                    <div class="clearFloat addzkcont">
                                        <div class="bzhh3img floatLeft">
                                            <img src="images/bzhd.png" alt=""/>
                                        </div>
                                        <div class="bzhdh3p floatRight">
                                            有些考生只是感觉报考提前批是一次机会，想尝试一下，实际上他并不是真的想去，等录取之后，会很后悔。所以报考志愿注意三点。1、报你想去的国防生，不想去的不要报。2、报你想去的提前批，不想去的不要报。3、有不服从的，都应该选择服从。
                                        </div>
                                    </div>
                                </li>
                                <li class="border-d-b-dddddd">
                                    <div class="clearFloat addzk">
                                        <div class="bzzh3img floatLeft">
                                            <img src="images/bza.png" alt=""/>
                                        </div>
                                        <div class="bzzh3p floatRight">
                                            今天上午10点，2016高考提前批开始通过远程网进行志愿填报，是选择提前批还是选择之后的普通院校 来填报志愿？
                                        </div>
                                    </div>
                                    <div class="clearFloat addzkcont">
                                        <div class="bzhh3img floatLeft">
                                            <img src="images/bzhd.png" alt=""/>
                                        </div>
                                        <div class="bzhdh3p floatRight">
                                            有些考生只是感觉报考提前批是一次机会，想尝试一下，实际上他并不是真的想去，等录取之后，会很后悔。所以报考志愿注意三点。1、报你想去的国防生，不想去的不要报。2、报你想去的提前批，不想去的不要报。3、有不服从的，都应该选择服从。
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <script>
                                var ndt = $(".addzk");
                                var ndd = $(".addzkcont");
                                ndd.eq(0).show();
                                ndt.click(function () {
                                    ndd.hide();
                                    $(this).next().show();
                                });
                            </script>
                            <!--分页-->
                            <!--<div class="page mt40 mb30">-->
                                <!--<a class="pagfirst"><</a>-->
                                <!--<a class="pagactive">1</a>-->
                                <!--<a href="">2</a>-->
                                <!--<a href="">3</a>-->
                                <!--<a href="">4</a>-->
                                <!--<a href="">5</a>-->
                                <!--<a href="">6</a>-->
                                <!--<a class="paglast">></a>-->
                            <!--</div>-->
                            <div class="page mt40 mb30">
                                <span class="first"><a href="" >第一页</a></span>
                                <span class="prev"><a href="">&lt;</a></span>
                                <span><a href="">3</a></span>
                                <span><a href="">4</a></span>
                                <span><a href="">5</a></span>
                                <span><a href="">6</a></span>
                                <span><a href="">7</a></span>
                                <span class="pagactive"><a href="">8</a></span>
                                <span class="next disabled">&gt;</span>
                                <span class="last disabled">最后一页</span></div>
                            <!--分页 end-->
                        </div>
                        <br>
                    </div>

                </div>
            </div>

            <br><br><br><br><br>
        </div>
    </div>
    <!--content end-->
    <!--footer-->
    <div class="footer">
        <div class="footerp">
            <p>
                Copyright © 2001-2012 qhyedu.com. All Rights Reserved  北京华清园教育版权所有
            </p>
            <p>华清园教育网隶属于北京华清园教育科技发展有限公司  京ICP备05055513号</p>
            <p>
                技术支持<a href="http://www.wanhunet.com/">万虎网络</a>
            </p>
        </div>
    </div>
    <!--footer end-->
</div>
<!--warrper end-->
</body>
</html>